@import url(common.css);

@font-face {
    font-family: 'hanspunch';
    src: url('../font/hanspunch.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* header */
header {
    position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    padding: 40px 0;
    transition: 0.3s;
}

header .logo {
    float: left;
}

header nav {
    float: right;
}

header nav ul {
    float: left;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    line-height: 56px;
    font-size: 17px;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    text-decoration: none;
}

header.sticky {
    position: fixed;
    padding: 7px 0;
    background: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
}

header.sticky nav ul li a {
    color: #fff;
}


.main-menu li {
    margin-right: 29px;
}

.main-menu li:last-child {
    margin-right: 60px;
}

.top-icons li {
    margin-right: 25px;
}

.top-icons li:last-child {
    margin-right: 0;
}

header nav ul li a:hover,
header nav ul li a.active {
    color: #008264;
}

header .logo a {
    width: 171px;
    height: 56px;
    background: url(../imge/GREEN%20%20%20%20%20%20%20BOX.png) no-repeat;
    background-size: contain;
    display: block;
    text-indent: -9999em;
}

header.sticky .logo a {
    background-image: url(../imge/GREEN%20%20%20%20%20%20%20BOX.png);
    background-size: 40%;
}







/*slide-------------------------------------*/
.toggle {
    display: none;
}



.slider {
    position: relative;
}

.slider-list li {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 100vh;
    text-align: center;
    width: 100%;
}

.slider-list li.slide1 {
    background-image: url(../imge/30.jpg);
}

.slider-list li.slide2 {
    background-image: url(../imge/re11.jpg);
}

.slider-list li.slide3 {
    background-image: url(../imge/re33.jpg);
}

.slider-list li .contents {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 110;
    color: #fff;
    width: 700px;
    text-shadow: 1px 1px 3px #000;
}

.slider-list li .contents h3 {
    font-size: 33px;
    font-weight: 600;
    line-height: 3;
    font-family: 'Maplestory Bold';
    letter-spacing: 2px;
}

.slider-list li .contents h2 {
    font-size: 60px;
    font-weight: 800;
    line-height: 1.3;
    margin-bottom: 100px;
    font-family: 'Maplestory Bold';
    letter-spacing: 4px;
}

.slider-list li .contents p {
    width: 98%;
    margin-bottom: 49px;
}

.slider-list li .contents .btn {
    padding: 20px;
    font-size: 20px;

}

.slider .controls a {
    width: 40px;
    height: 73px;
    background: url(../imge/sprites.png) no-repeat;
    text-indent: -9999em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 120;
}

.slider .controls a.prev {
    background-position: 0 -77px;
    margin-left: -789px;
}

.slider .controls a.next {
    background-position: -40px -77px;
    margin-left: 789px;
}

.slider .pager {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    z-index: 130;
}

.slider .pager span {
    width: 11px;
    height: 11px;
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid transparent;
    float: left;
    margin-right: 10px;
    border-radius: 50%;
    text-indent: -9999em;
    background-clip: content-box;
}

.slider .pager span:last-child {
    margin-right: 0;
}

.slider .pager span.cycle-pager-active {
    border: 2px solid #095c4a;
    background: none;
}


.slider-list li.cycle-slide-active .contents * {
    animation: slideIn 1s forwards ease-out;
    position: relative;

}

.slider-list li .contents * {
    transform: translateY(40%);
    opacity: 0;
}

.slider-list li .contents h3 {
    animation-delay: 1s;
}

.slider-list li .contents h2 {
    animation-delay: 1.4s;
}

.slider-list li .contents p {
    animation-delay: 1.8s;
}

.slider-list li .contents a {
    animation-delay: 2.2s;
    font-weight: 600;
    border: 1px solid #008264;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

@keyframes slideIn {
    0% {
        transform: translateY(40%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/*메인패키지---------*/
main {
    width: 100%;
    min-width: 1180px;
    overflow: hidden;
}

.main_package {
    width: 1400px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding-top: 100px;
}

.main_package .leftwing {
    width: 40%;
    float: left;
}

.main_package .leftwing > h2 {
    font-size: 40px;
    font-weight: bold;
    line-height: 48px;
}

.main_package .leftwing > p {
    font-size: 20px;
    padding-top: 20px;
    font-weight: bolder;
    line-height: 30px;
}

.main_package .leftwing .button {
    margin-top: 53px;
}

.main_package .leftwing .button .btn {
    position: relative;
    color: #000;
    border: 2px solid #008264;
    border-radius: 10px;
    font-weight: 600;
    text-align: center;
    padding: 20px;
    transition: 800ms ease all;
}

.btn:before,
.btn:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #008264;
    transition: 400ms ease all;
}

.btn:after {
    right: inherit;
    top: 61px;
    left: 0;
    bottom: 0;
}

.btn:hover {
    background: #fff;
    color: #008264;
}

.btn:hover:before,
.btn:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

.main_package .leftwing .fontbx {
    margin-top: 238px;
    border: 3px solid #e9e9e9;
    border-radius: 20px;
    width: 360px;
    padding: 30px;

}

.main_package .leftwing .fontbx h2 {
    font-size: 20px;
    font-weight: bold;
}

.main_package .leftwing .fontbx p {
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 20px;
}

.main_package .leftwing .fontbx a {
    color: #008264;
    font-weight: bold;
}

.main_package .leftwing .fontbx a:hover {
    color: #008264;
    transition: all .5s;
}

.main_package .leftwing .fontbx a:after {
    content: "";
    display: block;
    width: 0;
    margin-top: 3px;
    border-bottom: 3px solid #008264;
    transition: all .5s;
}

.main_package .leftwing .fontbx a:hover:after {
    width: 50%;
}

.main_package .rightwing {
    float: right;
    width: 58%;
    position: relative;
}

.main_package .rightwing .bx1 {
    width: 250px;
    height: 300px;
    background: #e9e9e9;
    float: left;
    margin: 10px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.bx1 .hover {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #12705a);
    position: absolute;
    bottom: -300px;
    transition: bottom 0.7s ease-in-out;
    text-align: center;
    line-height: 25px;
}

.bx1:hover .hover {
    opacity: 1;
    bottom: 0px;
    transition: bottom 0.7s ease-in-out;
}

.bx1 .hover h4 {
    padding-top: 110px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

.bx1 .hover span {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    text-shadow: 1px 1px 1px #000;

}

/*3가지 특징*/

.se2 {
    background: #008264;
    background-size: cover;
    height: 90vh;
}

.opcity {
    background: rgba(0, 0, 0, .1);
    height: 100%;
}

.s2 {
    width: 1400px;
    margin: 0 auto;
    position: relative;
}

.se2 h2 {
    color: #fff;
    font-size: 50px;
    text-align: center;
    font-weight: 600;
    text-shadow: 1px 1px 3px #000;
    padding: 81px 60px;
    position: relative;
    font-family: 'Maplestory Bold';
    letter-spacing: 5px;
    padding-top: 132px;
}

.bx2_1 {
    border-radius: 30px;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: #fff;
}

.se2 h2:after {
    content: "";
    display: block;
    width: 200px;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 58%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.se2 h2:before {
    content: "";
    display: block;
    width: 200px;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 58%;
    right: 6%;
    transform: translate(-50%, -50%);
}

.se2 .bx2 {
    width: 30%;
    height: 400px;
    float: left;
    padding: 23px;
    position: relative;
    overflow: hidden;
}

.se2 .bx2 .bx1_img {
    background: url(../imge/img2.png)50% 50% no-repeat;
    width: 100%;
    height: 100%;
    background-size: 50%;
    /*   transform: scale();*/
    transition: all 0.5s
}

.se2 .bx2:nth-child(3) .bx1_img1 {
    background: url(../imge/img02.png)50% 50% no-repeat;
    width: 100%;
    height: 100%;
    background-size: 50%;
    /*   transform: scale();*/
    transition: all 0.5s
}

.se2 .bx2:nth-child(3) .bx1_img2 {
    background: url(../imge/img02.png)50% 50% no-repeat;
    width: 100%;
    height: 100%;
    background-size: 50%;
    transition: all 0.5s
}

.se2 .bx2 .bx2_1 h4,
pre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    line-height: 45px;
    opacity: 1;
    /*    font-family: 'hans punch';*/
    text-shadow: 1px 1px 4px #000;
    transition: opacity .8s;
    letter-spacing: 1px;
}

.se2 .bx2 .bx1_hover {
    position: absolute;
    height: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, .5);
    text-align: center;
    z-index: 99;
    transition: opacity .5s;
}

.se2 .bx2 .bx1_hover p {
    text-align: center;
    width: 70%;
    padding: 145px 63px;
    color: #fff;
    font-size: 19px;
    line-height: 34px;
    opacity: 1;
    letter-spacing: 0.5px;
}

.se2 .bx2 .bx1_hover p:after {
    content: "";
    display: block;
    width: 70%;
    height: 3px;

    background: #fff;
    margin: 54px 0 0 45px;
}

.se2 .bx2 .bx1_hover p:before {
    content: "";
    display: block;
    width: 50%;
    height: 3px;
    left: 25%;
    background: #fff;
    position: absolute;
    top: 20%;
}

.se2 .bx2 .bx1_hover span {
    color: #b1fdb4;
}

.se2 .bx2:hover .bx1_hover {
    opacity: 1;
    transition: opacity .5s;

}

.se2 .bx2:hover h4 {
    opacity: 0;
    transition: opacity .8s;

}

.se2 .bx2_1:hover .bx1_img {
    transform: scale(1.1);
    transition: all .5s
}

.se2 .bx2_1:hover .bx1_img1 {
    transform: scale(1.1);
    transition: all .5s
}


/*------온라인샵------*/
.shopin {
    min-width: 1180px;
    width: 1400px;
    margin: 0 auto;
    position: relative;
    height: auto;
    overflow: hidden;
}

.box {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 2px 30px rgba(black, .2);
    background: lighten(#f0f4c3, 10%);
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.wave {
    opacity: .4;
    position: absolute;
    top: 3%;
    left: 50%;
    background: #008264;
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
}

.wave.-three {
    animation: drift 5000ms infinite linear;
}

.wave.-two {
    animation: drift 7000ms infinite linear;
    opacity: .1;
    background: yellow;
}

.box:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
    z-index: 11;
    transform: translate3d(0, 0, 0);
}

.title {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    line-height: 300px;
    text-align: center;
    transform: translate3d(0, 0, 0);
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 40px;
    font-weight: 600;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, .9);
    text-indent: .3em;
}

@keyframes drift {
    from {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
}

.shopin .shopbx_1 {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 20px;
    background: #008264;
    overflow: hidden;
}

.shopin .shopbx_2 {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 20px;
    background: #f8d8dd;
    overflow: hidden;
}

.shopin .shop_f {
    padding: 65px;
    color: #fff;
    line-height: 34px;
    text-shadow: 1px 1px 3px #000;
    display: inline-block;
}

.shopin .shop_f2 {
    padding: 65px;
    float: right;
    color: #fff;
    line-height: 34px;
    text-shadow: 1px 1px 3px #000;
    display: inline-block;
}

.shopin .shop_f h2,
.shopin .shop_f2 h2 {
    font-size: 35px;
    font-weight: bold;
    font-family: 'Maplestory Bold';
}

.shopin .shop_f p,
.shopin .shop_f2 p {
    font-size: 20px;
}

.shopin .shopbx_1 a {
    padding: 20px 44px;
    background: #fff;
    border-radius: 10px;
    color: #000;
    float: right;
    font-weight: 600;
    margin: 71px 98px;
    box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, .5);
    position: relative;
    z-index: 99;
}

.shopin .shopbx_2 a {
    padding: 20px 44px;
    background: #fff;
    border-radius: 10px;
    color: #000;
    float: left;
    font-weight: 600;
    margin: 71px 98px;
    box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, .5);
    position: relative;
    z-index: 99;
}

.shopin .shopbx_1 a:after {
    content: "";
    position: absolute;
    background: linear-gradient(to left, #0bcc9f, #008264);
    /*    background: #008264;*/
    border-radius: 10px;
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    transition: all .5s;
    z-index: -1;
}

.shopin .shopbx_2 a:after {
    content: "";
    position: absolute;
    background: linear-gradient(to left, #fbd8d8, #f8d8dd);
    /*    background: #008264;*/
    border-radius: 10px;
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    transition: all .5s;
    z-index: -1;
}

.shopin .shopbx_1 a:hover:after,
.shopin .shopbx_2 a:hover:after {
    width: 100%;
    transition: all .5s;
}

.shopin .shopbx_1 a:hover,
.shopin .shopbx_2 a:hover {
    color: #fff;
    transition: all .5s;
}

.shopin .shopimgbx {
    display: inline-block;
}

.shopin .shopimgbx img {
    position: absolute;
    bottom: 0;
    right: 237px;
    width: 230px;
}

.shopin .shopimgbx1 img {
    position: absolute;
    bottom: 0;
    left: 40%;
    width: 230px;
}

.shopin .shopimgbx img:nth-child(2) {
    position: absolute;
    bottom: 0;
    right: 0px;
    width: 140px;
}

.shopin .shop_japumbx {
    width: 100%;
    height: 51.8%;
    position: relative;
}

.shopin .shop_japumbx .japum1 {
    width: 24%;
    height: 350px;
    float: left;
    position: relative;
    border-radius: 20px;
    border: 2px solid #eee;
    overflow: hidden;
    margin: 10px 5px;
    transition: all .5s;
}

.shopin .shop_japumbx .japum1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.shopin .shop_japumbx .japum1:hover img {
    transform: scale(1.2);
    transition: all .5s;
}

.shopin .shop_japumbx .japum1 .hoverbx {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -400px;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    transition: all .5s;
}

.shopin .shop_japumbx .japum1 .hoverbx h1 {
    font-size: 21px;
    text-align: center;
    padding: 21px;
}

.shopin .shop_japumbx .japum1:hover .hoverbx {
    bottom: -270px;
    transition: all .5s;
}

/*-----------sns-----------*/
.sns {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding-top: 150px;
}

.sns .snsbx {
    width: 80%;
    min-width: 1180px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.snsbx > h1 {
    font-family: 'Maplestory Bold';
    font-size: 40px;
    color: #000;
    padding: 60px;
}

.snsbx .snsbx_1 {
    width: 20%;
    float: left;
    position: relative;
    overflow: hidden;
}

.snsbx .snsbx_1 > img {
    width: 100%;
    height: 100%;
}

.snsbx .snsbx_1 .snshoverbx {
    background: rgba(0, 0, 0, .4);
    width: 100%;
    height: 50%;
    position: absolute;
        bottom: -124px;
    opacity: .5;
    transition: bottom 0.7s ease-in-out;
}

.snshoverbx img {
    border-radius: 100%;
    background: #fff;
    margin: 12px;
    width: 56px;
        height: 55px;
}

.snshoverbx h4 {
    font-size: 25px;
    color: #fff;
    line-height: 3;
    display: inline-block;
}

.snshoverbx p {
    font-size: 20px;
    color: #fff;
    padding: 25px 54px;
    text-align: center;
}

.snsbx .snsbx_1:hover .snshoverbx {
    opacity: 1;
    bottom: 0px;
   transition: bottom 0.7s ease-in-out;
}

.snsbx .snsbx_1:hover span {
    color: rgba(255, 255, 255, .9);
}

.snsbx_1 span {
    position: absolute;
    right: 17px;
    top: 10px;
    font-size: 44px;
}

/*100종---------------*/

/*section----------------------*/
.recent_posts {
    padding: 80px 0;
}

.posts_list li {
    width: 370px;
}

.recent_img_wrap {
    position: relative;
}

.recent_img_wrap img {
    width: 370px;
    height: 500px;
}

/*
.recent_img_wrap .post_date { position:absolute; left:20px; top:20px; width:50px; border-radius:3px; overflow:hidden; color:#fff; text-align:center; z-index:2;}

.recent_img_wrap .post_date .date { background:#363636; display:block; line-height:35px; font-size:24px; font-weight:300;}

.recent_img_wrap .post_date .month { background:#252525; line-height:25px; font-size:12px;font-weight:300; display:block;}
*/

.recent_img_wrap .hover_contents {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(17, 17, 17, .7);
    opacity: 0;
    transition: 0.4s;
}

.recent_img_wrap .hover_contents span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: #fff;
}

.posts_list li:hover .hover_contents {
    opacity: 1;
}

.post_details {
    border-color: #f8f8f8;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    padding: 25px 30px;
    background: #fff;
    transition: 0.4s;
}

.post_details h4 {
    font-weight: 500;
    font-size: 20px;
    color: #555;
}

.post_details p {
    font-size: 14px;
    font-weight: 300;
    color: #8c8c8c;
    line-height: 22px;
    margin: 15px 0;
}

.post_details a {
    font-size: 14px;
    color: #d1b8f9;
    text-decoration: none;
}

.post_details a span {
    display: inline-block;
    margin-left: 5px;
}

.posts_list li:hover .post_details {
    background: #362f2d;
    border-color: transparent;
}

.posts_list li:hover .post_details h4 {
    color: #fff;
}

.posts_list li:hover .post_details p {
    color: #fff;
}

.posts_list li:hover .post_details a {
    color: #8464b6;
}

.posts_list li:hover .post_date .date {
    background: #c7b299;
}

.posts_list li:hover .post_date .month {
    background: #a48d72;
}

.controls {
    text-align: center;
    margin-top: 50px;
}

.controls a {
    width: 22px;
    height: 22px;
    display: inline-block;
    background: url(../imge/sprites.png) no-repeat;
    text-indent: -9999em;
}

.controls a.bx-prev {
    background-position: -194px -89px;
}

.controls a.bx-next {
    background-position: -224px -89px;
}

.controls a.bx-prev:hover {
    background-position: -194px -111px;
}

.controls a.bx-next:hover {
    background-position: -224px -111px;
}


/*insta---------------*/


.latest_projects {
    padding: 80px 0;
}

.latest_projects input {
    display: none;
}

.projects_wrap {
    text-align: center;
}

/*
.projects_wrap label {
    line-height: 30px;
    border: 1px solid #ebebeb;
    padding: 0 18px;
    background: #fff;
    display: inline-block;
    border-radius: 3px;
    margin: 0 3px;
    font-size: 14px;
    font-weight: 300;
    color: #8c8c8c;
    transition: 0.3s;
}
*/

.project_list {
    margin-top: 40px;
}

/*
.projects_wrap input:checked + label {
    background: #998675;
    color: #fff;
    border: 1px solid #998675;
}
*/

.project_list li {
    width: 370px;
    margin: 0 30px 30px 0;
    float: left;
}

.project_list li:nth-child(3n) {
    margin: 0 0 30px 0;
}

.project_list li img {
    width: 100%;
    height: auto;
}

.project_list li .contents {
    background: #fbfaf8;
    padding: 24px 29px;
    text-align: left;
}

.project_list li .contents h4 {
    font-size: 20px;
    /*    color: #c7b299;*/
    color: #C7B4D7;
    font-weight: 500;
}

.project_list li .contents p {
    font-size: 14px;
    color: #d1d1d1;
}

.project_list li .imgWarp {
    position: relative;
}

.project_list li .hover_contents {
    position: absolute;
    background: rgba(0, 0, 0, .7);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    text-align: center;
    padding-top: 116px;
    opacity: 0;
    transition: 0.4s;
}

.project_list li .hover_contents a {
    color: #fff;
    margin: 0 15px;
    font-size: 26px;
}

.project_list li .hover_contents a:hover {
    color: #c7b299;
}

.project_list li:hover .hover_contents {
    opacity: 1;
}

.project_list li:hover .contents {
    background: #362f2d;
}

.project_list li:hover .contents h4 {
    color: #fff;
}

.project_list li:hover .contents p {
    /*    color: #c7b299;*/
    color: #A4B9CE;
}


.load_more {
    text-align: center;
    margin-top: 40px;
}


/*footer---------------------*/


footer p {
    color: #555;
    font-size: 14px;
}

.footer_top {
    background: #ebe0fc;
    padding: 80px 0;
}

.col-one-forth {
    width: 600px;
    margin-right: 30px;
    float: left;
}

.footer_logo a {
    width: 181px;
    height: 56px;
    background: url(/imge/logo.png) no-repeat;
    background-size: contain;
    text-indent: -9999em;
    display: block;
    margin-bottom: 24px;
}

.col-one-forth:first-child p {
    line-height: 24px;
    margin-bottom: 20px;
}

.col-one-forth:first-child a {
    font-size: 14px;
    color: #d1d1d1;
    text-decoration: none;
}

.col-one-forth:first-child a span {
    margin-left: 6px;
}

.footer_top h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
    margin-top: 16px;
    color: #fff;
}

.footer_top ul {
    margin-top: 20px;
}

.footer_top .footer_list li {
    border-bottom: 1px solid #252525;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.footer_top .footer_list li .post_date {
    color: #363636;
    font-size: 12px;
    line-height: 20px;
    display: block;
}

.footer_top .footer_list li:last-child {
    border-bottom: 0;
}

.footer_top .footer_list li p {
    line-height: 20px;
    word-break: break-all;
}

.footer_top .footer_list li:hover .post_date {
    color: #fff;
}

.footer_top .footer_list li:hover p {
    color: #c7b299;
}

.twitter_id {
    color: #00bff3;
}

.footer_top .dribble li {
    width: 130px;
    float: left;
    margin: 0 10px 10px 0;
}

.footer_top .dribble li:nth-child(2n) {
    margin: 0 0 10px 0;
}

/* RESPONSIVE */
@media screen and (max-width:960px) {

    main,
    section,
    .shopin {
        min-width: auto;
        width: 100%;
        height: auto;
    }
.s2 {
     min-width: auto; 
    width: 100%;
    }
    .container {
        width: 100%;
        margin: 0 auto;
        min-width: auto;
    }

    .main_package {
        min-width: auto;
        width: 100%;
        padding: 0;
    }

    .main_package .rightwing {
        float: none;
        width: 100%;
        position: relative;
    }

    .main_package .rightwing .bx1 {
        width: 30%;
        height: 150px;
    }

    .main_package .leftwing {
        width: 100%;
        padding: 0px 58px 27px;
    }

    .main_package .leftwing .fontbx {
        margin-top: 53px;
    }

    .shopin .shopimgbx,
    .shopimgbx1 {
        display: none;
    }

    .shopin .shopbx_1 a {
        margin: 71px 17px;
    }

    .shopin .shopbx_2 a {
        margin: 65px 22px;
    }

    .shopin .shop_japumbx .japum1 {
        width: 23%;
    }
    .sns .snsbx{
        min-width: auto;
    }
    .snsbx .snsbx_1 {
        height: auto;
    }
    .snsbx .snsbx_1 .snshoverbx{
        display: none;
    }
    .se2 .bx2 {
    width: 30%;
        padding: 0;
   padding-left: 10px;
    }
}

@media screen and (max-width:768px) {
    .container {
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
    }

    header {
        position: static;
        top: 0;
        background: #fff;
        padding: 20px 0 0;
        box-shadow: 0 3px 3px rgba(0, 0, 0, .3);
    }

    .toggle {
        display: block;
        position: absolute;
        top: 20px;
        right: 15px;
        line-height: 56px;
    }

    header .container {
        padding: 0;
    }

    header .logo a {
        background-image: url(../imge/GREEN%20%20%20%20%20%20%20BOX33.png);
    }

    .top-icons li:last-child {
        display: none;
    }

    .top-icons li a {
        color: #555;
    }

    header nav {
        float: none;
        background: #111;
        padding: 0 15px;
    }

    header nav ul {
        float: none;
    }

    header .logo {
        float: none;
        padding-bottom: 20px;
        margin-left: 15px;
    }

    .main-menu {
        display: none;
    }

    .main-menu li {
        float: none;
        border-bottom: 1px solid #252525;
    }

    .top-icons {
        position: absolute;
        top: 20px;
        right: 30px;
    }

    .slider-list li .contents {
        width: 350px;
    }

    .slider-list li .contents h3 {
        font-size: 19px;
    }

    .main_package .leftwing .fontbx {
        margin-top: 76px;
    }

    .service_item {
        width: 22%;
        margin-right: 4%;
    }

    .text_boxes {
        text-align: center;
    }

    .text_boxes .box_contents {
        margin-bottom: 20px;
    }

    .text_boxes .box_contents,
    .text_boxes .btn {
        float: none;
    }

    .project_list li {
        width: 32%;
        margin: 0 2% 30px 0;
    }

    .video .contents {
        width: 90%;
    }

    .video .contents p {
        width: 100%;
    }

    .excellent_mobile img {
        width: 70%;
        margin: 0 auto;
        float: none;
    }

    .excellent_mobile .contents {
        width: 100%;
        margin: 0 auto;
    }

    .counters ul {
        width: 100%;
        display: block;
    }

    .counters ul li {
        width: 14%;
        margin: 0 3%;
    }

    .partners ul li {
        width: 23%;
        margin-right: 2%;
        line-height: 15vh;
    }

    .partners ul li img {
        width: 90%;
        margin: 0 auto;
    }

    .partners {
        padding: 80px 0;
        height: 50vh;
    }

    .col-one-forth {
        width: 23%;
        margin-right: 2%;
    }

    .slider .controls a {
        left: 0;
    }

    .slider .controls a.prev {
        margin-left: 0;
        left: 5%;
    }

    .slider .controls a.next {
        margin-left: 0;
        left: 95%;
    }
.sns .snsbx {
    width: 100%;
    }
}

@media screen and (max-width:480px) {

    .service_item {
        width: 100%;
        margin-right: 0;
    }

    .project_list li {
        width: 100%;
        margin: 0 0 30px 0;
    }

    .partners ul li {
        width: 48%;
        margin-right: 2%;
    }

    .partners ul li img {
        width: 60%;
    }

    .col-one-forth {
        width: 100%;
        float: none;
        margin-right: 0;
    }

    .slider-list li .contents h3 {
        font-size: 6vw;
    }

    .slider-list li .contents h2 {
        font-size: 8vw;
    }

    .slider-list li .contents p {
        font-size: 3vw;
        width: 80%;
        margin: 0 auto 49px;
    }

    .content_tt {
        font-size: 5vw;
    }

    .counters ul li h3 {
        font-size: 5vw;
    }

    .counters ul li h4 {
        font-size: 2vw;
    }

    .footer_bottom .copy {
        margin-bottom: 20px;
    }

    .footer_bottom .copy,
    .footer_bottom .designer {
        float: none;
        text-align: center;
    }


}
