*{
    box-sizing: border-box;
}
a{
    list-style: none;
}
body{
    color: #444;
    font-family: Helvetica, Arial, sans-serif;
}

#join{
    position: relative;
    top: 20vh;
    text-align: center;
}
#join>span h1,h2{
    display: inline-block;
    
}
#join>span a{
    color: black;
    font-weight: 700;
    font-size: 25px;
}






   /*     form   */
form{
    padding: 100px;
}
.input_group{
    width: 340px;
    margin: 50px auto;
    position: relative;
    left: 40px;
}
input{
    border: none;
    border-bottom: 1px solid #888;
    font-size: 20px;
    display: block;
}
input:focus{
    outline: none;
    border-bottom-width: 4px;
    border-color: #48f;
    transition: .5s;
}
.label1{
    position: absolute;
    color: #aaa;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}

.label_top{
    top: -20px;
    opacity: 1;
    visibility: visible;
}

   /*  button   */

.button{
 position: relative;
}
.pretty:first-child{
   left: -64px;
}
.pretty{
    left: 15px;
}


.button a{
    display: block;
    border: 2px solid #bc98f5;
    border-radius: 10px;
    background: #bc98f5;
    width: 250px;
    height: 50px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 5px;
    padding-top: 8px;
}
.button .b1{
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
}

